body{
    background-color:darkslategray;
    color: white;


    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}
@media screen and (prefers-color-scheme: light) {
    body {
    background-color: white;
    color: black;
    } }


    @media only screen and (max-width: 600px){
        body{
            font-size: 8pt;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
    
    @media only screen and (min-width: 600px){
        body{
            font-size: 10pt;
            font-family: Arial, Helvetica, sans-serif;
        }
    }

    @media only screen and (min-width: 768px) {
        body{
            font-size: 11pt;
            font-family:Arial, Helvetica, sans-serif;
        }
    }

    @media only screen and (min-width: 992px){
        body{
            font-size: 12pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    @media only screen and (min-width: 1200px){
        body{
            font-size: 14pt;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }
        

    .herb_container {
        text-align: center;
    }
    
    .herb_container img {
        display: inline-block;
    }
    

p.pogon{
    margin:50px 80px 100px 20px;
    border-color: darkred;
    border-width: 5px 15px 20px 30px;
    border-style: solid;
    padding: 30px; 
    float: left;
}

aside.pogon{
    background-color: darkblue;
    width: auto;
    height: auto;
    clear: left;
}

article.pogon{
    background-color: darkblue;
    border-width: 8px;
    border-color: darkred;
    border-style: double;
    width:fit-content;
    height: fit-content;
}

div.pogon{
    background-color: darkred;
}

img.pogon{
    position: static;
}


.newsletter_page{
    text-align: center;
    color:aqua;
    font-size: 18px;
    font-weight: bolder;
    background-image: url(szczecin_drawing.jpg);
    background-repeat: repeat-x;
    background-position: right top;
    background-attachment: fixed;
}

.personal_data_page{
    text-align: center;
    color:black;
    font-size: 16px;
    font-weight: bolder;
    background-image: url(szczecin_drawing.jpg);
    background-color: rgba(255, 255, 255, 0.5);
    background-repeat: repeat-x;
    background-position: left top;
    background-attachment: scroll;
}

h1{
    font-size: 2.5em;
    text-align: center;
}

h2{
    font-size: 200%;
    text-align: center;
}

h3{
    font-size: 150%;
}

h4{
    font-size: 1.25em;
}

footer{
    font-style: italic;
    font-weight: 600;
    bottom: 0px;

}

.menu {
    font-family: Arial, sans-serif;
    background-color: #333;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
    padding: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px 15px;
}

.menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    border-top: 2px solid #fff;
}

.menu ul li:hover > ul {
    display: block;
}

.menu ul ul li {
    width: max-content;
    display: block;
}

.menu ul ul li a {
    padding: 20px 40px;
}

.menu ul ul ul {
    left: 100%;
    top: 0;
}

/* Style for active/current page link */
.menu ul li a:active,
.menu ul li a:focus,
.menu ul li a:hover {
    background-color: #555;
}

table.scheudle tr:nth-child(even) {
    background-color: rgb(19, 177, 177);
}
table.scheudle th:nth-child(even),td:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
table.scheudle {
    border-collapse: collapse; 
}

table.scheudle th, table.scheudle td {
    border: 1px solid #000; 
}
table.scheudle tr:hover{
    background-color:rgb(218, 22, 22);
}

table.players {
    margin: 0 auto; /* Wyśrodkowuje tabelę na stronie */ }
  
  table.players td, table.players th {
    text-align: center; /* Wyśrodkowuje zawartość komórek w poziomie */
    vertical-align: middle; /* Wyśrodkowuje zawartość komórek w pionie */
  }
  

a img.pogon:active {
     transform: scale(1.5);  /*powiekszenie obrazka pogoni przy kliknieciu główna ta co przenosi na stronę */
}
input[type="checkbox"]:checked + label {    /*zaznaczenie tego co jest zaznaczone w checkbox newsleter */
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

input:disabled {
    background-color: lightgray;   /*zaznaczenie na szaro nieaktywnego inputu newsleter email */
    color: #999;         
    cursor: not-allowed;
}

p.empty:empty {
    background-color: lightyellow;
    border: 1px solid #ccc;    /* jak coś jest puste pogon pozostałe spotkania */
    padding: 10px;
}
form.newsletter :enabled {
    background-color: lightgreen;
    border: 1px solid #4CAF50;       /* jak input aktywny w neleter to na zielono */
    color: #4CAF50;
}


a:visited {
    color: purple; 
    text-decoration: line-through; 
  }
  #section1:target {
    background-color: yellow; /* strona pogoni */
    color: black; 
  }
  input:required {
    border: 2px solid red; /* Czerwone obramowanie dla wymaganych pól */
  }
  .container p:only-child {
    color: blue;         /* jak jest tylko jedeno dziecko rodzica pogon nadchodzące mecze */
    font-weight: bold;
  }
  .scorers li:nth-last-child(2) {
    background-color: yellow;  /* przedostatni element tej listy na zółto */
  }

   ol:not(.test){
    color: red;  /* oreder listy króre nie należą do klasy test na czerwono */
  }
  
  a:link{
    color: pink;  /* olinki na różowo */
  }

 .last p:last-of-type {
    color: red;         /* ostatni paragraf w tej klasie na czerwono pogon doł linki */
    font-style: italic;   
  }
  .scorers li:last-child{
    background-color: aqua;   /* ostatni element w tej liscie na aqua */
  }
  .scorers li:first-child{
    background-color: rgb(255, 149, 0);   /* ostatni element w tej liscie na aqua */
  }

  input.personal:focus {
    background-color: lightyellow;  /* w personal data imie sie na żółto ramka wewnątrz  */
  }

  @page :first {
    margin-left: 50%;
    margin-top: 50%;
  }
  .buttonGame {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttonGame:hover {
    background-color: #45a049;
}

.buttonGame:active {
    background-color: #398439;
}
.buttonCheck {
    background-color: #3498db; /* Niebieskie tło */
    color: white; /* Biały tekst */
    padding: 10px 20px; /* Wewnętrzny odstęp */
    font-size: 16px; /* Rozmiar tekstu */
    border: none; /* Brak obramowania */
    border-radius: 5px; /* Zaokrąglone rogi */
    cursor: pointer; /* Zmiana kształtu kursora na wskaźnik */
  }
  
  .buttonCheck:hover {
    background-color: #2980b9; /* Kolor tła po najechaniu myszką */
  }
  
  .buttonCheck:active {
    background-color: #21618c; /* Kolor tła podczas kliknięcia */
  }
  .game{
    background-color: #999;
  }

 #preferences_container {
    text-align: center;
    margin-top: 50px;
 }

 .text_color_setup {
    margin-top: 20px;
 }

 .bg_color_setup {
    margin-top: 20px;
 }

 .font_family_setup {
    margin-top: 20px;
 }
 .helpP{
    display: none;
 }
.ciekawostka {
    display: none;
}







